/*

    colour palette

    Dark1: 11151C;
    Dark2: 212D40;
    Dark3: 364156;

    Light1: 00d9fb;
    Light2: f86624; orange (white text)

*/

.AddPost {
    margin-top: 12vh;
    min-height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.AddPost .post {
    background-color: #212D40;
    display: grid;
    grid-template-areas:
        "uploader category" 
        "title title"
        "img img"
        "file file"
    ;
    row-gap: 5px;
    margin: 20px;
    padding: 10px;
}

.AddPost .post .title {
    grid-area: title;
    width: 100%;
    font-size: 20px;
    word-wrap: break-word;
    padding: 4px;
    resize: none;
}

.AddPost .post img {
    grid-area: img;
    width: 100%;
    object-fit: cover;
}

.AddPost .post .uploader {
    grid-area: uploader;
    padding: 4px;
    justify-self: start;
}

.AddPost .post .category {
    grid-area: category;
    padding: 4px;
    justify-self: end;
    background-color: #364156;
}

.AddPost .post .file {
    grid-area: file;
}

.AddPost .upload-button {
    padding: 8px;
    font-size: 20px;
    background-color: #364156;
}

.AddPost .upload-button:active {
    color: #f86624;
}