/*

    colour palette

    Dark1: 11151C;
    Dark2: 212D40;
    Dark3: 364156;

    Light1: 00d9fb;
    Light2: f86624; orange (white text)

*/

.DisplayPost {
    margin-top: 12vh;
    min-height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.DisplayPost .post {
    background-color: #212D40;
    display: grid;
    grid-template-areas: 
        "title title"
        "img img"
        "vote comments"
        "uploader category"
    ;
    row-gap: 5px;
    margin: 20px;
    padding: 10px;
}

.DisplayPost .post .title {
    grid-area: title;
    font-size: 20px;
    word-wrap: break-word;
    padding: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.DisplayPost .post .title button {
    background-color: transparent;
    margin-right: 5px;
}

.DisplayPost .post .title button i {
    font-size: 18px;
}

.DisplayPost .post img {
    grid-area: img;
    width: 100%;
    object-fit: cover;
}

.DisplayPost .post .vote-div {
    grid-area: vote;
    padding: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: start;
}

.DisplayPost .post .vote-div .votes {
    font-size: 14px;
}

.DisplayPost .post .vote-div button {
    margin: 0px 15px 0px 5px;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.DisplayPost .post .vote-div button i {
    pointer-events: none;
    font-size: 18px;
    margin-left: 4px;
}

.DisplayPost .post .comments-button {
    grid-area: comments;
    margin: 4px;
    justify-self: end;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.DisplayPost .post .comments-button p {
    pointer-events: none;
}

.DisplayPost .post .comments-button i {
    pointer-events: none;
    font-size: 18px;
    margin-left: 4px;
}

.DisplayPost .post .uploader {
    grid-area: uploader;
    padding: 4px;
    justify-self: start;
}

.DisplayPost .post .category {
    grid-area: category;
    padding: 4px;
    justify-self: end;
}

.DisplayPost .comments-div {
    display: flex;
    flex-direction: column;
}

.DisplayPost .comments-div .title {
    font-size: 16px;
    margin-left: 10px;
}

.DisplayPost .comments-div .comment-div {
    display: grid;
    grid-template-areas: 
        "img username date"
        "img comment comment"
        "img comment comment";
    grid-template-columns: 60px minmax(50px, 100%);
    margin-bottom: 20px;
    background-color: #212D40;
    gap: 5px;
    margin: 10px;
    padding: 5px;
}

.DisplayPost .comments-div .comment-div .username {
    grid-area: username;
    font-size: 15px;
}

.DisplayPost .comments-div .comment-div img {
    grid-area: img;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.DisplayPost .comments-div .comment-div .date {
    grid-area: date;
    font-size: 14px;
    justify-self: end;
}

.DisplayPost .comments-div .comment-div .comment {
    grid-area: comment;
    padding: 5px;
    word-wrap: break-word;
    background-color: #364156;
    font-size: 14px;
}

.DisplayPost .comments-div .new-comment-div {
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: #212D40;
    padding: 5px;
}

.DisplayPost .comments-div .new-comment-div .title {
    font-size: 16px;
    margin-bottom: 5px;
}

.DisplayPost .comments-div .new-comment-div .comment {
    background-color: #364156;
    color: #00d9fb;
    resize: vertical;
    outline: none;
    margin-bottom: 5px;
    padding: 4px;
}

.DisplayPost .comments-div .new-comment-div .comment::placeholder {
    color: #00d9fb;
}

.DisplayPost .comments-div .new-comment-div button {
    background-color: #364156;
    font-size: 20px;
    padding: 4px;
}

.DisplayPost .comments-div .new-comment-div button:active {
    color: #f86624;
}