/*

    colour palette

    Dark1: 11151C;
    Dark2: 212D40;
    Dark3: 364156;

    Light1: 00d9fb;
    Light2: f86624; orange (white text)

*/

.Navbar {
    width: 100vw;
    background-color: #212D40;
    height: 12vh;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo-div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.logo-div span {
    font-size: 32px;
    color: #f86624;
}

.logo-div p {
    font-size: 26px;
    color: #00d9fb;
}

.menu-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.notification-div {
    background-color: transparent;
    margin-right: 15px;
}

.notification-div i {
    font-size: 18px;
}

.nav-button {
    width: 25px;
    height: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: transparent;
}

.nav-button div {
    width: 25px;
    height: 3px;
    background-color: #00d9fb;
    transition: 0.3s ease-out;
}

.nav-links {
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: #364156;
    margin-top: 12vh;
    height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 35px 20px 0px 20px;
    transform: translateX(100%);
    transition: 0.4s ease-in-out;
}

.nav-links-active {
    transform: translateX(0px);
}

.nav-links .title {
    font-size: 20px;
    margin-top: 20px;
}

.nav-links .link {
    font-size: 16px;
    margin-left: 10px;
    text-decoration: none;
    color: #00d9fb;
}

.tag-active {
    text-decoration: underline !important;
    color: #f86624 !important;
}

.nav-button-line1-active {
	-webkit-transform: rotate(45deg) translateY(8px) translateX(6px);
	    -ms-transform: rotate(45deg) translateY(8px) translateX(6px);
	        transform: rotate(45deg) translateY(8px) translateX(6px);
}
.nav-button-line2-active {
	-webkit-transform: scale(0);
	    -ms-transform: scale(0);
	        transform: scale(0);
}
.nav-button-line3-active {
	-webkit-transform: rotate(-45deg) translateY(-8px) translateX(6px);
	    -ms-transform: rotate(-45deg) translateY(-8px) translateX(6px);
	        transform: rotate(-45deg) translateY(-8px) translateX(6px);
}
